<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>TheExpressor</string>
	<key>CFBundleGetInfoString</key>
	<string>TheExpressor v1.0.0 TheZhe 2022</string>
	<key>CFBundleIconFile</key>
	<string>TheExpressor.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.TheZhe.app.TheExpressor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TheExpressor</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>iJ5V</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.11.0</string>
	<key>NSMainNibFile</key>
	<string>TheExpressor-macOS-MainMenu</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs mic access to process audio.</string>
	<key>NSPrincipalClass</key>
	<string>SWELLApplication</string>
</dict>
</plist>
